In [3]:
# Import the necessary libraries for web scraping and data processing
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

# URL of the billboard hot 100 chart
url = "https://www.billboard.com/charts/hot-100/"

# Send a GET request to the URL and store the response
page = requests.get(url)

# Use BeautifulSoup to parse the HTML content of the response
soup = BeautifulSoup(page.content, 'html.parser')

# Initialize empty lists to store the song names and artists
song = []
artist = []

# Find the number of songs in the hot 100 chart
len_song = len(soup.select('li.o-chart-results-list__item h3.c-title '))
print(len_song)

# Loop through each song in the hot 100 chart
for i in range(len_song):
    # Extract the name of the song and add it to the `song` list
    song.append(soup.select('li.o-chart-results-list__item h3.c-title ')[i].get_text(strip=True))
    # Extract the name of the artist and add it to the `artist` list
    artist.append(soup.select('li.o-chart-results-list__item h3.c-title ')[i].get_text(strip=True))
 
# Create a Pandas dataframe from the lists of song names and artists
list_song = pd.DataFrame({'Songs':song, 'Artist':artist})

100

In [5]:
list_song['rank']= np.arange(len(song))+1

list_song

               Songs            Artist  rank
0            Flowers           Flowers     1
1          Kill Bill         Kill Bill     2
2          Anti-Hero         Anti-Hero     3
3           Creepin'          Creepin'     4
4             Unholy            Unholy     5
..               ...               ...   ...
95       Do It Again       Do It Again    96
96          Miss You          Miss You    97
97          Back End          Back End    98
98         Open Arms         Open Arms    99
99  Spit In My Face!  Spit In My Face!   100

[100 rows x 3 columns]