# LAB Monday: Scrape the current top 100 songs and their respective artists, and put the information into a pandas dataframe.

In [4]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# URL of the chart
url = "https://www.billboard.com/charts/hot-100"

# Send GET request to the URL
response = requests.get(url)

# Check if the response is successful
if response.status_code == 200:
    # Use BeautifulSoup to parse the HTML content
    soup = BeautifulSoup(response.content, 'html.parser')
else:
    # If the response is not successful, raise an error
    raise Exception("Failed to retrieve page content. Response status code: {}".format(response.status_code))

# Get the song titles and artists
song_titles = [element.get_text(strip=True) for element in soup.select('h3.c-title.a-no-trucate')[:100]]
artists = [element.get_text(strip=True) for element in soup.select('span.c-label.a-font-primary-s')[:100]]

# Create a Pandas DataFrame from the song titles and artists
songs = pd.DataFrame({'song':song_titles, 'artist':artists})

In [5]:
import numpy as np
songs['Rank']=np.arange(len(songs))+1

In [6]:
songs

                song                                artist  Rank
0            Flowers                           Miley Cyrus     1
1          Kill Bill                                   SZA     2
2          Anti-Hero                          Taylor Swift     3
3           Creepin'  Metro Boomin, The Weeknd & 21 Savage     4
4             Unholy                Sam Smith & Kim Petras     5
..               ...                                   ...   ...
95       Do It Again                    NLE Choppa & 2Rare    96
96          Miss You            Oliver Tree & Robin Schulz    97
97          Back End                         Finesse2Tymes    98
98         Open Arms            SZA Featuring Travis Scott    99
99  Spit In My Face!                              ThxSoMch   100

[100 rows x 3 columns]

# LAB Tuesday: Prototype with user input

In [7]:

input_song= input('what song do you like? ')

if input_song in songs['song'].values:
    print ('The song exists')
else:
    print('The song does not match, try again')

what song do you like? Spit in my face
The song does not match, try again

In [8]:
input_song= input('what song do you like? ')
lower_song=input_song.lower()

df = songs.applymap(lambda s:s.lower() if type(s) == str else s)

if lower_song in df['song'].values:
    print ('This is a hot song')
else:
    print('This is not a hot song or does not match with the top 100, try again')

what song do you like? Anti-hero
This is a hot song

In [9]:
input_song= input('what song do you like? ')
lower_song=input_song.lower()

df = songs.applymap(lambda s:s.lower() if type(s) == str else s)

if lower_song in df['song'].values:
    print ('This is a hot song')
else:
    print('This is not a hot song or does not match with the top 100, but we suggest you these other hot songs: \n')
    print(songs[['Song_title','Rank']].sample(n=4, random_state=3))

what song do you like? Do it Again
This is a hot song